{% extends "base.html" %}

{% block content %}
<p>
    
    MOVIE_ID: {{ overview_data.id }}<br>
    ORIGINAL_TITLE: {{ overview_data.original_title }}<br>
    TITLE: {{ overview_data.title }} <br>
    RELEASE-DATE: {{ overview_data.release_date }}<br>
    BUDGET: {{ business_data.budget }}<br>
    REVENUE: {{ business_data.revenue }}<br>
    
</p>

<p> 
    OVERVIEW: {{ overview_data.overview }}

</p>

<p>
    {% for image in image_list %}
    <div>
        <img src= "{{ image }}"> <br>
    </div>
    {% endfor%}
</p>

<!-- trailer_video -->

{% if youtube_trailer %}

<h2>{{ youtube_trailer.title }}</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/{{youtube_trailer.video_id}}"></iframe>

{% else %} 

<h2>Sorry, no trailer</h2>

{% endif %}

<p> GENRE:
    {% for genre in genre_list %}

    {{ genre }}
    {% endfor %}
</p>

<p>PRODUCTION COMPANIES:
    <br> 
    {%for company in production_companies_list %}
    {{ company }}<br>
    {% endfor %}
</p>



{% endblock %}